/* レスポンシブ */
/* min-width */
$breakpoint-up: (
  'sm' : 'screen and (min-width: 400px)',
  'md' : 'screen and (min-width: 768px)',
  'lg' : 'screen and (min-width: 1000px)',
  'xl' : 'screen and (min-width: 1200px)'
) !default;
/* max-width */
$breakpoint-down: (
  'sm' : 'screen and (max-width: 399px)',
  'md' : 'screen and (max-width: 767px)',
  'lg' : 'screen and (max-width: 999px)',
  'xl' : 'screen and (max-width: 1199px)'
) !default;
/* mixin */
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}
@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

