/* 共通 */
html {
  word-spacing: 1px;
  color: #444;
}
body {
  font-family: 'Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-size: 18px;
}
h1 {
  margin-top: 6rem;
  border-bottom: 1px dashed #ddd;
}
h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}
pre {
  margin-bottom: 2rem;
}
hr {
  margin: 5rem;
}

/* ページタイトル */
.page-title {
  font-size: 40px;
  font-weight: 300;
  text-decoration: none;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
}

/* ページ構成 */
.content {
  flex: 1;
  padding: 100px 30px;
  max-width: 800px;
  /* desktop */
  @include mq-up(md) {
    min-width: 799px;
    margin: 0 auto;
  }
}

